<%# coding: UTF-8 %>


<% require 'rubygems' %>
<% require 'erb' %>
<% require './data_model.rb'%>
<% require './my_ruby_library/weather.rb' %>
<% require './my_ruby_library/login_data.rb' %>
<% require './total_learning_time.rb' %>
<% require './database_my_library.rb' %>

<% weather = weather() %>
<% total_time = total_learning_time() %>
<% user_id = session['user_id'] %>
<% last_time = "" %>

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>mimlab studylog</title>
  <link rel="shortcut icon" href="images/icon.png" type="image/png">

  <!-- BootStrapの読み込み -->
  <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">

  <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" />
  <link type="text/css" rel="stylesheet" href="css/jQRangeSlider/iThing-min.css">
  <link type="text/css" rel="stylesheet" href="css/timeline/component.css">
  <link type="text/css" rel="stylesheet" href="css/circliful/jquery.circliful.css">
  <link tyle="text/css" rel="stylesheet" href="css/textillate/animate.css">

  <!-- TimePickerの読み込み -->
  <link href="css/timepicker/jquery.timepicker.css" rel="stylesheet" type="text/css">

  <!-- my_cssの読み込み -->
  <link href="css/my_css.css" rel="stylesheet" type="text/css" >

</head>
<body>

  <!-- ナビゲーション -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">

      <!-- ナビゲーションヘッダー -->
      <div class="navbar-header">

        <!-- スマホサイズになった時のボタンの設定 -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand text-info" href="./index.rb"></a>

      </div>

      <!-- ナビゲーションの内容 -->
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="./index.rb">ホーム</a></li>
          <li><a href="./personal.rb">学習データ</a></li>
          <li><a href="./other.rb">みんなの活動</a></li>
          <li><a href="./diary.rb">卒研日記</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <!-- メインコンテンツ  -->
  <div class="container" style="padding: 0px 0">

    <!-- グリッドシステムを使用する -->
    <div class="row">

      <!-- ログイン情報 -->
      <div class="col-sm-2">
        <div class="panel panel-default">
          <table class="table table-bordered">
            <thead>
              <tr><th class="text-center">ログイン情報</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>

                  <% user = User.find( user_id ) %>
                  <img src="images/<%= "#{user.image_name}" %>" alt="ユーザ画像" width="130" height="130" class="img-thumbnail img-responsive center-block" style="margin-top:8pt;">
                  <h4 class="text-center"><%= "#{user.user_name.to_s}".force_encoding("utf-8") %></h4>

                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <ul id="menu" style="margin-bottom:20px; height:450px; overflow:auto;">

          <% date = Task.where(user_id: user_id).order("start_time desc") %>
          <% date = date.select("distinct DATE_FORMAT(start_time,'%Y/%m/%d') as date") %>
          <% delay_a_day = 0 %>
          <% date.each do |row| %>
          <% if(delay_a_day != 0) %>
          <li><a id="date" class="menue" value="<%= row.date %>"><%= row.date %></a></li>

          <% end %>

          <% delay_a_day = delay_a_day + 1 %>

          <% end %>

        </ul>

      </div>

      <!-- 日記の本体 -->
      <div class="col-sm-10">
        <div class="panel panel-default">
          <div class="container-fluid">
            <div class="row" style="padding:10px;">

              <% date2 = Task.where(user_id: user_id).order("start_time desc") %>
              <% date2 = date.select("distinct DATE_FORMAT(start_time,'%Y/%m/%d') as date") %>
              <% delay_a_day2 = 0 %>
              <% date2.first(2).each do |row| %>
              <% if(delay_a_day2 != 0) %>

              <h4><span id="diary_date" style="border-bottom: solid; border-width: 2px;padding-bottom: 2px;">Date: <%= row.date %></span></h4>
              <% last_time = row.date %>
              <% end %>

              <% delay_a_day2 = delay_a_day2 + 1 %>

              <% end %>


              <div class="col-sm-4">
                <h5><strong>学習したもの</strong></h5>
                <ol id="task_name_list" style="position: relative">
                  <% task_name_array = task_and_zone_with_date(last_time, session['user_id']) %>
                  <% task_name_array.each do |row| %>
                  <li><%= row %></li>
                  <% end %>
                </ol>
              </div>

              <div class="col-sm-4">
                <h5><strong>学習時間</strong></h5>
                <p id="total_time">
                  <% total = total_time_with_date(last_time, session['user_id']) %>
                  合計: <%= total %>時間
                </p>
              </div>

              <div class="col-sm-4">
                <h5><strong>目標達成率(実装中)</strong></h5>
                <div class="row">
                  <div class="col-sm-5">
                    <div id="myStat" data-dimension="100" data-text="35%" data-width="10" data-fontsize="22" data-info-fontsize="10" data-percent="35" data-fgcolor="#61a9dc" data-bgcolor="#eee" data-fill="#ddd"></div>
                  </div>
                  <div class="col-sm-7" style="margin-top:10px;">
                    <img src="./images/mima_still.png" width="150" alt="先生のコメント">
                  </div>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="wrapnote2">
                  <div class="note">
                    <h5><strong>つぶやき</strong></h5>
                    <% weather = weather_with_date(last_time) %>
                    <p>今日の天気は<span id="weather_info"><%= weather['weather'] %><img style="width:30px; padding:2px;" src="<%= "#{weather['icon']}" %>" ></span>でした。</p>
                    <p id="comment" class="animation_txt" data-in-effect="fadeInRight">画像を使いたくなく、改行の予定がない場合はこちらをご利用ください。</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>

<!-- footer -->
<footer id="footer" class="footer" style="height: 40px; background-color: #f5f5f5;">
  <div class="container" >
    <p class="text-muted" style="padding: 5px;">Copyright (C) 2015 Takuma Sasaki ALL Right Reserved.</p>
  </div>
</footer>

<!-- javascriptの読み込み -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/i18n/jquery-ui-i18n.min.js"></script>

<!-- ライブラリ -->
<script src="js/Chart/Chart.js"></script>
<script src="http://momentjs.com/downloads/moment.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="js/scrolltable/jquery.scrolltable.js"></script>
<script src="js/jQueryTween/jQueryTween-aio-min.js"></script>
<script src="js/timepicker/jquery.timepicker.js"></script>
<script src="js/jQRangeSlider/jQRangeSlider-min.js"></script>
<script src="js/jQRangeSlider/jQAllRangeSliders-min.js"></script>
<script src="js/timeline/modernizr.custom.js"></script>
<script src="js/circliful/jquery.circliful.min.js"></script>
<script src="js/textillate/jquery.lettering.js"></script>
<script src="js/textillate/jquery.textillate.js"></script>
<script src="js/footerFixed/footerFixed.js"></script>

<!-- 自分で書いたスクリプト -->
<script src="js/my_library/current_time.js"></script>

<script>

$(function (){

  // 曜日をスクロール可能にする
  $( "#menu" ).menu();

  // 達成率円グラフ
  $('#myStat').circliful();

  // 学習したものリストにアニメーションをかける処理
  $('ol li')
  .css({
    left : '40px',
    opacity: 0
  })
  .each(function(i){
    $(this).delay(300 * i)
    .animate({
      left : '0',
      opacity: 1
    }, 700);
  });

  // つぶやきにアニメーションを付ける処理
  $('.animation_txt').textillate();

  // メニューで日付が選択された時に呼ばれるメソッド
  $("#date.menue").click(function(){

    // 操作対象のフォーム要素を取得
    var $text = $(this).text();

    $.ajax({
      url: './diary_data.rb',
      type: 'post',
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      data: {date: $text},
      timeout: 10000,  // 単位はミリ秒

      // 送信前
      beforeSend: function(xhr, settings) {
        // ボタンを無効化し、二重送信を防止
        $(this).attr('disabled', true);
      },
      // 応答後
      complete: function(xhr, textStatus) {
        // ボタンを有効化し、再送信を許可
        $(this).attr('disabled', false);
      },

      // 通信成功時の処理
      success: function(json) {

        // で
        console.log(json);

        // 日記の日付
        $('#diary_date').text("Date: " + $text);

        // コメントを追加
        $("#comment").replaceWith('<p id="comment" class="animation_txt" data-in-effect="fadeInRight">'+ json.comment +'</p>')

        // 天気情報を追加
        $("#weather_info").replaceWith('<span id="weather_info">' + json.weather_name + '<img style="width:30px; padding:2px;" src="' + json.weather_icon + '" ></span>')

        // 合計時間
        $("#total_time").replaceWith('<p id="total_time">合計: ' + json.total_time + '時間</p>')

        // つぶやきにアニメーションを付ける処理
        $('.animation_txt').textillate();

        // ulの子要素を削除する処理
        $("#task_name_list").empty();

        var task_name_array = json.task_name.split(",")

        // 新しいリストの追加
        $.each(task_name_array, function(index, value){
          $('#task_name_list').append("<li><div style='position: relative'>" + value + "</div></li>");
        });

        // 学習したものリストにアニメーションをかける処理
        $('ol li')
        .css({
          left : '40px',
          opacity: 0
        })
        .each(function(i){
          $(this).delay(300 * i)
          .animate({
            left : '0',
            opacity: 1
          }, 700);
        });

      },

      // 通信失敗時の処理
      error: function(xhr, textStatus, error) {
        console.log("失敗");
      }
    });

    return false;
  });

});


</script>
</body>
</html>
