<%# coding: UTF-8 %>


<% require 'rubygems' %>
<% require 'erb' %>
<% require './data_model.rb'%>
<% require './my_ruby_library/weather.rb' %>
<% require './my_ruby_library/login_data.rb' %>
<% require './total_learning_time.rb' %>
<% require './database_my_library.rb' %>

<% weather = weather() %>
<% total_time = total_learning_time() %>
<% user_id = session['user_id'] %>

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>mimalb studylog</title>
  <link rel="shortcut icon" href="images/icon.png" type="image/png">

  <!-- BootStrapの読み込み -->
  <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">

  <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" />

  <!-- TimePickerの読み込み -->
  <link href="css/timepicker/jquery.timepicker.css" rel="stylesheet" type="text/css">

  <!-- my_cssの読み込み -->
  <link href="css/my_css.css" rel="stylesheet" type="text/css" >

</head>
<body>

  <!-- ナビゲーション -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">

      <!-- ナビゲーションヘッダー -->
      <div class="navbar-header">

        <!-- スマホサイズになった時のボタンの設定 -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand text-info" href="./index.rb"></a>

      </div>

      <!-- ナビゲーションの内容 -->
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="./index.rb">ホーム</a></li>
          <li><a href="./personal.rb">学習データ</a></li>
          <li><a href="./other.rb">みんなの活動</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <!-- メインコンテンツ  -->
  <div class="container" style="padding: 20px 0">

    <!-- グリッドシステムを使用する -->
    <div class="row">

      <!-- ログイン情報 -->
      <div class="col-sm-2">
        <div class="panel panel-default">
          <table class="table table-bordered">
            <thead>
              <tr><th class="text-center">ログイン情報</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>

                  <% user = User.find( user_id ) %>

                  <img src="images/<%= "#{user.image_name}" %>" alt="ユーザ画像" width="130" height="130" class="img-thumbnail img-responsive center-block" style="margin-top:8pt;">
                  <h4 class="text-center"><a><%= "#{user.user_name.to_s}".force_encoding("utf-8") %></a></h4>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- ユーザ情報 -->
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <table class="table table-bordered">
                <thead>
                  <tr><th class="text-center">ユーザの情報</th></tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">
                      <h5>総合ランキング<br><strong style="font-size:14pt;"><div style="margin:4px;">第<%= total_time_rank(session['user_id']) %>位</div></strong></h5>
                      <h5>今までの学習時間<br><strong style="font-size:14pt;";"><div style="margin:4px;"><%= total_time_week_all(session['user_id']) %>時間</div></strong></h5>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- お天気情報 -->
          <div class="col-sm-12">
            <div class="panel panel-default">
              <table class="table table-bordered">
                <thead>
                  <tr><th class="text-center"><%= "#{weather['city']}" %>の天気</th></tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="text-center">
                        <h4 class="tec"><%= "#{weather['telop']}" %></h4>
                        <img src="<%= "#{weather['icon']}" %>" class="img-responsive center-block" >
                        <span><%= "#{weather['max_celsius']}" %></span> / <span><%= "#{weather['min_celsius']}" %></span>℃
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-5">

      <!-- 学習の記録フォーム　アクションはlog.rb -->
      <form method="post" action="log.rb">
        <div class="panel panel-default">
          <table class="table table-bordered">
            <thead>
              <tr><th class="text-center"><span id="date"></span>の勉強を記録する</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="form-group">

                    <!-- タスク名の入力 -->
                    <p style="margin: 15px 10px;" >
                      <label>タスク名</label>

                      <div id="high_priority">
                        <div class="btn-group" data-toggle="buttons" style="margin-left: 10px; margin-top:-20px;">

                          <% count = 0%>
                          <% task_name = Task_name.where(user_id: user_id) %>
                          <% task_name = task_name.order("count desc") %>
                          <% task_name_one = Task_name.find(task_name_id)%>

                          <label class="btn btn-default active">
                            <input type="radio" autocomplete="off" name="task_name_id" value="<%= "#{task_name_one.task_name_id}" %>" checked> <%= "#{task_name_one.task_name}".force_encoding("utf-8") %>
                          </label>

                        </div>
                      </div>

                      <div id="other_task" style="display:none; margin-left: 10px; margin-top:-15px; margin-bottom:4.3px;" >
                        <div class="btn-group" data-toggle="buttons">

                          <% count2 = 0%>
                          <% task_name.each do |name| %>

                          <%  if(count2 == 0) %>
                          <label class="btn btn-default active">
                            <input type="radio" autocomplete="off" name="task_name_id" value="<%= "#{name.task_name_id}" %>"><%= "#{name.task_name}".force_encoding("utf-8") %>
                          </label>

                          <%  else %>

                          <label class="btn btn-default">
                            <input type="radio" autocomplete="off" name="task_name_id" value="<%= "#{name.task_name_id}" %>"> <%= "#{name.task_name}".force_encoding("utf-8") %>
                          </label>

                          <%  end %>

                          <%  count2 = count2 + 1 %>
                          <% end %>

                        </div>
                      </div>

                      <p class="text-danger" style="margin-left:10px;">※すでに登録されています</p>

                      <div style="margin-left: 10px; margin-top: 3px;">
                        <% if(task_name.count != 0)%>
                        <button id="other_bottun" type="button" class="btn btn-info other_click" ><i class="glyphicon glyphicon-file"></i> その他のタスク</button>
                        <% end %>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus"></i> 新しいタスクの追加</button>
                      </div>
                    </p>

                    <!-- 一人かグループかの選択 -->
                    <p style="margin: 15px 10px;">
                      <label for="group_frag">人数</label>
                      <div class="btn-group" data-toggle="buttons" style="margin-left: 10px; margin-top:-20px;">
                        <label class="btn btn-default active">
                          <input type="radio" autocomplete="off" name="group_frag" value="0" checked>一人で学習
                        </label>
                        <label class="btn btn-default">
                          <input type="radio" autocomplete="off" name="group_frag" value="1">グループで学習
                        </div>
                      </p>

                      <!-- 音楽ありなしかの選択 -->
                      <p style="margin: 15px 10px;">
                        <label for="group_frag">音楽</label>
                        <div class="btn-group" data-toggle="buttons" style="margin-left: 10px; margin-top:-20px;">
                          <label class="btn btn-default active">
                            <input type="radio" autocomplete="off" name="music_frag" value="0" checked>音楽なし
                          </label>
                          <label class="btn btn-default">
                            <input type="radio" autocomplete="off" name="music_frag" value="1">音楽あり
                          </div>
                        </p>

                        <!-- 作業時間の入力 -->
                        <p style="margin: 15px 10px;" >
                          <label for="start_time">作業した時間</label>
                          <div id="picker" class="form-inline" style="margin-top:-15px; margin-left:10px;">
                            <input id="datepicker" class="form-control" type="text" name="date" style="width:105px;" />
                            <input class="time start form-control" type="text" name="start_time" style="width:70px;" />
                            <label>から</label>
                            <input class="time end form-control" type="text" name="finish_time" style="width:70px;" />
                          </div>
                        </p>

                        <!-- コメントの入力 -->
                        <p style="margin: 15px 10px;" >
                          <label for="comment">学習内容や感想など</label>
                          <textarea name="comment" class="form-control" row="2" placeholder="学習内容や感想" style="resize: none;"></textarea>
                          <p class="help-block" style="margin-left: 10px;">※できるだけ他の人もわかるように書きましょう。</p>
                        </p>

                        <p style="margin: 15px 10px;">
                          <% if(task_name.count != 0)%>
                          <button type="submit" class="btn btn-success">記録する</button>
                          <% end %>
                        </p>

                      </div>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>

          <div class="row">
            <div class="col-sm-12">
              <!-- タイムライン -->
              <div class="panel panel-default">
                <table class="table table-bordered scrollTable">
                  <thead>
                    <tr><th class="text-center" style="height:35px;" >タイムライン</th></tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <ul class="media-list" >
                          <div styel="height:13px;"></div>

                          <% task = Task.all.order("task_id desc").limit(50)%>
                          <% task.each do |row| %>
                          <%  image_name = User.find_by(user_id: row.user_id ) %>

                          <li class="media">
                            <!-- pull-right にすると、画像が右端に表示される -->
                            <a class="media-left" href="#">
                              <img src="images/<%= "#{image_name.image_name}" %>" alt="写真" width="80" height="80" style="margin:10px;" class="media-object img-thumbnail img-responsive center-block" >
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading"> <%= "#{image_name.user_name}".force_encoding("utf-8") %> </h4>
                              <h5 class="text-info"><strong><%= "#{row.task_name}" %> <%= "#{task_time(row.task_id)}".to_i %>分</strong></h5>
                              <%= "#{row.comment}".force_encoding("utf-8") %>
                            </div>
                          </li>
                          <hr>

                          <% end %>

                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- 学習時間ランキング -->
        <div class="col-sm-5">
          <div class="panel panel-default">
            <table class="table table-bordered">
              <thead>
                <tr><th class="text-center">今日の学習時間ランキング</th></tr>
              </thead>
              <tbody>
                <tr style="height:450px;">
                  <td>

                    <div style="float:left; margin-left:-30px;">
                      <ul style="list-style:none;">

                        <% total_sort = total_time.sort_by{|key,val| -val} %>
                        <% image_number = 1%>
                        <% difference = 0%>
                        <% total_sort.first(3).each {|key, value| %>

                          <% if(image_number == 1) %>

                          <% difference = value %>
                          <li style="font-size:20px; font-weight:bold;"><img src="images/rank<%= "#{image_number}" %>.png" style="width:50px; margin:5px;"><%= "#{key}".force_encoding("utf-8") %> <%= "#{value}".force_encoding("utf-8") %>分</li>

                          <% else %>

                          <li style="font-size:20px; font-weight:bold;"><img src="images/rank<%= "#{image_number}" %>.png" style="width:50px; margin:5px;"><%= "#{key}".force_encoding("utf-8") %> <span style="pa-top:10px;"><%= "#{value}".force_encoding("utf-8") %>分 </span><span class="text-danger">(１位まであと<%= difference - value %>分)</span></li>

                          <% end %>

                          <%  image_number = image_number + 1 %>
                          <% } %>

                        </ul>
                      </div>

                      <img src="./images/ranking.png" width="100%">
                      <div style="width:100% height:300px;">
                        <div style="width:80%; height:300px;  position: relative;">

                          <% top = 0 %>
                          <% user = User.all %>
                          <% user.each do |row| %>

                          <div id='anime<%= "#{row.user_id}" %>' style="margin-left:20px; position: absolute; top:<%= top %>%;">
                            <img src="images/<%= "#{row.image_name}" %>" alt="ユーザ画像" width="45" height="45" class="img-responsive center-block" style="margin-top:8pt; margin-left:4px;">
                            <h6 class="text-center" style="margin-top:-1px;"><%= "#{row.user_name}" %></h6>
                          </div>

                          <%  top = top + 11 %>
                          <% end  %>

                        </div>
                      </div>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      <!-- footer -->
      <footer class="footer" style="height: 40px; background-color: #f5f5f5;">
        <div class="container" >
          <p class="text-muted" style="padding: 5px;">Copyright (C) 2015 Takuma Sasaki ALL Right Reserved.</p>
        </div>
      </footer>

      <!-- モーダルウィンドウの中身 -->
      <!-- 新しいタスクを追加フォーム -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><i class="glyphicon glyphicon-plus"></i> 新しいタスクを追加</h4>
            </div>

            <div class="modal-body">
              <form method="post" action="add_task.rb">
                <div class="form-group">
                  <label for="task_name">タスク名</label>
                  <input type="text" class="form-control" id="task_name" placeholder="追加するタスク名" name="task_name">
                </div>
                <button type="submit" class="btn btn-success">追加する</button>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
            </div>

          </div>
        </div>

        <!-- javascriptの読み込み -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
        <script src="js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/i18n/jquery-ui-i18n.min.js"></script>

        <!-- ライブラリ -->
        <script src="js/Chart/Chart.js"></script>
        <script src="http://momentjs.com/downloads/moment.js"></script>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="js/scrolltable/jquery.scrolltable.js"></script>
        <script src="js/jQueryTween/jQueryTween-aio-min.js"></script>
        <script src="js/timepicker/jquery.timepicker.js"></script>

      </script>

      <!-- 自分で書いたスクリプト -->
      <script src="js/my_library/current_time.js"></script>

      <script>

      // みんなの学習時間をバブルチャートとして表示する処理
      var list = {
        "name": "長野県",
        "children": [
          {
            "name": "塩尻市",
            "children": [

              <% #みんなの合計学習時間の表示  %>
              <% total_time.each{|key,value| %>
                { "name": "<%= "#{key}".force_encoding("utf-8") %>" , "households": <%= value %> + 10 },
                <% } %>

              ]
            }
          ]
        };
        var svgWidth = 300; // SVG領域の横幅
        var svgHeight = 250;    // SVG領域の縦幅
        var diameter = 250; // 一番大きい円のサイズ
        var color = ["none", "#ffa0a0", "#a0a0ff", "orange", "#ffe090", "#a0ff90", "cyan", "#ccc", "#ff8080", "#c0ffc0", "#4090ff"];
        var svg = d3.select("#myGraph").append("svg")
        .attr("width", svgWidth).attr("height", svgHeight)
        var bubble = d3.layout.pack()
        .size([diameter, diameter]) // 表示サイズを指定
        var grp = svg.selectAll("g")    // グループを対象にする
        .data(bubble.nodes(classes(list)))  // データを読み込む
        .enter()
        .append("g")
        .attr("transform", function(d) {    // 円のX,Y座標を設定
          return "translate(" + d.x + "," + d.y + ")";
        })
        grp.append("circle")    // 円を生成する
        .attr("r", function(d){ // 円を指定した半径にする
          return d.r;
        })
        .attr("fill", function(d,i){    // 塗りの色を指定
          return color[i];
        })
        grp.append("text")  // 文字を生成する
        .attr("font-size", "10pt")   // 文字のサイズを指定する
        .attr("fill", "black")  // 文字の塗りの色を指定する
        .style("text-anchor", "middle") // 円の座標の中央から表示するようにする
        .text(function(d) { return d.className; } ) // データの中のclassNameが地区名なので、それを出力
        // 階層化されたJSONデータをフラット化する (D3.js本家のを少し変更して利用)
        function classes(root) {
          var classes = [];
          function recurse(name, node) {
            if (node.children) node.children.forEach(function(child) { recurse(node.name, child); });
            else classes.push({packageName: name, className: node.name, value: node.households});
          }
          recurse(null, root);
          return {children: classes};
        }


        // 現在の日付を取得
        var m = moment();
        var date = m.format("YYYY年MM月DD日");

        var date2 = new Date();
        var date4 = new Date();


        $(function (){

          // テーブルにスクロールバーを付ける処理
          $('.scrollTable').scrolltable({
            maxHeight: 500
          });

          // 現在の日付を表示するメソッド
          current_time(date);

          // 日付の入力
          $.datepicker.setDefaults($.datepicker.regional['ja']);
          // 3日付選択ボックスを生成
          $('#datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
          $("#datepicker").datepicker("setDate", date2.getFullYear() + "-" + (date2.getMonth() + 1) + "-" + date2.getDate());

          // 時間入力
          $('.start').timepicker({
            'timeFormat': 'H:i'
          });


          // durationを設定するために値を取得
          start_time = $('.start').val();

          $('.end').timepicker({
            'scrollDefault': start_time,
            'durationTime' : start_time,
            'showDuration': true,
            'maxTime': '23:59',
            'timeFormat': 'H:i'
          });

          // 今の時間をセットする
          $('.start').timepicker('setTime', (date4.getHours() - 1) + ":" + date4.getMinutes());
          $('.end').timepicker('setTime', date4.getHours() + ":" + date4.getMinutes());

          // 始まりの時間が入力されるたびに呼ばれる
          $('.start').on('changeTime', function(){
            start_time = $('.start').val();
            var date3 = $('.start').timepicker('getTime', new Date());

            // 一回エレメントを削除
            $('.end').timepicker('remove');

            // durationを設定して追加する
            $('.end').timepicker({
              'scrollDefault': start_time,
              'durationTime' : start_time,
              'showDuration': true,
              'maxTime': '23:59',
              'timeFormat': 'H:i'
            });

            var hours = date3.getHours() + 1;
            var minutes = date3.getMinutes();

            if( Number(date3.getHours()) >= 22 ){
              hours = date3.getHours();
              minutes = '30'
            }

            $('.end').timepicker('setTime', hours + ":" + minutes );

          });


          // onclickが何回押されたかを判定するフラグ
          var flg = 'default'

          // その他のタスクボタンのイベントメソッド
          $('.other_click').click(function(){

            if(flg == 'default'){

              $('#other_task').show()
              $('#high_priority').hide()
              $("#other_bottun").text("よく記録するタスク");

              flg = "changed";

            }else{

              $('#other_task').hide()
              $('#high_priority').show()
              $("#other_bottun").text("その他のタスク");

              flg = 'default';

            }
          });


          // ランキングアニメーション
          <% user_rank_percent = user_rank_percent() %>
          <% user = User.all %>
          <% user.each do |row| %>

          $('#anime<%= "#{row.user_id}" %>').jQueryTween({ to: { position: { left: '<%= "#{user_rank_percent["#{row.user_id}"].to_i}" %>%' } }, duration: 1000,easing: TWEEN.Easing.Quadratic.In } );

          <% end %>


        });

        </script>
      </body>
      </html>
