<%# coding: UTF-8 %>


<% require 'rubygems' %>
<% require 'erb' %>
<% require './data_model.rb'%>
<% require './my_ruby_library/weather.rb' %>
<% require './my_ruby_library/login_data.rb' %>
<% require './total_learning_time.rb' %>
<% require './database_my_library.rb' %>

<% weather = weather() %>
<% total_time = total_learning_time() %>
<% user_id = session['user_id'] %>

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>mimlab studylog</title>
  <link rel="shortcut icon" href="images/icon.png" type="image/png">

  <!-- BootStrapの読み込み -->
  <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">

  <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" />
  <link type="text/css" rel="stylesheet" href="css/jQRangeSlider/iThing-min.css">
  <link type="text/css" rel="stylesheet" href="css/timeline/component.css">

  <!-- TimePickerの読み込み -->
  <link href="css/timepicker/jquery.timepicker.css" rel="stylesheet" type="text/css">

  <!-- my_cssの読み込み -->
  <link href="css/my_css.css" rel="stylesheet" type="text/css" >

</head>
<body>

  <!-- ナビゲーション -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">

      <!-- ナビゲーションヘッダー -->
      <div class="navbar-header">

        <!-- スマホサイズになった時のボタンの設定 -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand text-info" href="./index.rb"></a>

      </div>

      <!-- ナビゲーションの内容 -->
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="./index.rb">ホーム</a></li>
          <li><a href="./personal.rb">学習データ</a></li>
          <li><a href="./other.rb">みんなの活動</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <!-- メインコンテンツ  -->
  <div class="container" style="padding: 0px 0">

    <!-- グリッドシステムを使用する -->
    <div class="row">

      <!-- ログイン情報 -->
      <div class="col-sm-2">
        <div class="panel panel-default">
          <table class="table table-bordered">
            <thead>
              <tr><th class="text-center">ログイン情報</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>

                  <% user = User.find( user_id ) %>
                  <a data-toggle="modal" data-target="#edit_user_info" >
                    <img src="images/<%= "#{user.image_name}" %>" alt="ユーザ画像" width="130" height="130" class="img-thumbnail img-responsive center-block" style="margin-top:8pt;">
                    <h4 class="text-center"><%= "#{user.user_name.to_s}".force_encoding("utf-8") %></h4>
                    <h6 class="text-center">編集</h6>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- ユーザ情報 -->
        <div class="row">
          <div class="col-sm-12">

          <div class="panel panel-default">
            <h6 class="text-danger" style="margin-left:10px;">更新情報</h6>
            <ul>
              <li>非同期</li>
              <li>オートログイン</li>
              <li>時間帯入力</li>
            </ul>
          </div>


            <div class="panel panel-default">
              <table class="table table-bordered">
                <thead>
                  <tr><th class="text-center">ユーザの情報</th></tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">
                      <h5>総合ランキング<br><strong style="font-size:14pt;"><div style="margin:4px;">第<%= total_time_rank(session['user_id']) %>位</div></strong></h5>
                      <h5>今までの学習時間<br><strong style="font-size:14pt;";"><div style="margin:4px;"><%= total_time_week_all(session['user_id']) %>時間</div></strong></h5>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- お天気情報 -->
          <div class="col-sm-12">
            <div class="panel panel-default">
              <table class="table table-bordered">
                <thead>
                  <tr><th class="text-center"><%= "#{weather['city']}" %>の天気</th></tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="text-center">
                        <h4 class="tec"><%= "#{weather['telop']}" %></h4>
                        <img src="<%= "#{weather['icon']}" %>" class="img-responsive center-block" >
                        <span><%= "#{weather['max_celsius']}" %></span> / <span><%= "#{weather['min_celsius']}" %></span>℃
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">

      <!-- 学習の記録フォーム　アクションはlog.rb -->
      <form id="log_form" method="post" action="log.rb">
        <div class="panel panel-default">
          <table class="table table-bordered">
            <thead>
              <tr><th class="text-center"><span id="date"></span>の勉強を記録する</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="form-group">

                    <!-- タスク名の入力 -->
                    <p style="margin: 15px 10px;" >
                      <label>タスク名</label>

                      <div id="high_priority">
                        <div class="btn-group" data-toggle="buttons" style="margin-left: 10px; margin-top:-20px;">

                          <% count = 0%>
                          <% task_name = Task_name.where(user_id: user_id) %>
                          <% task_name = task_name.order("count desc") %>
                          <% task_name.count %>
                          <% if(task_name.count == 0)%>

                          <h5 class="text-danger"><span class="glyphicon glyphicon-exclamation-sign"></span>タスクがありません<h5>

                            <% else %>

                            <% task_name.first(3).each do |name| %>

                            <%  if(count == 0) %>

                            <label class="btn btn-default active">
                              <input type="radio" autocomplete="off" name="task_name_id" value="<%= "#{name.task_name_id}" %>" checked><%= "#{name.task_name}".force_encoding("utf-8") %>
                            </label>

                            <%  else %>

                            <label class="btn btn-default">
                              <input type="radio" autocomplete="off" name="task_name_id" value="<%= "#{name.task_name_id}" %>"><%= "#{name.task_name}".force_encoding("utf-8") %>
                            </label>

                            <%  end %>

                            <% count = count + 1%>

                            <% end %>

                            <% end %>

                          </div>
                        </div>

                        <div id="other_task" style="display:none; margin-left: 10px; margin-top:-15px; margin-bottom:4.3px;" >
                          <div class="btn-group" data-toggle="buttons">

                            <% count2 = 0%>
                            <% task_name.each do |name| %>

                            <%  if(count2 == 0) %>
                            <label class="btn btn-default active">
                              <input type="radio" autocomplete="off" name="task_name_id" value="<%= "#{name.task_name_id}" %>"><%= "#{name.task_name}".force_encoding("utf-8") %>
                            </label>

                            <%  else %>

                            <label class="btn btn-default">
                              <input type="radio" autocomplete="off" name="task_name_id" value="<%= "#{name.task_name_id}" %>"> <%= "#{name.task_name}".force_encoding("utf-8") %>
                            </label>

                            <%  end %>

                            <%  count2 = count2 + 1 %>
                            <% end %>

                          </div>
                        </div>

                        <div style="margin-left: 10px; margin-top: 3px;">
                          <% if(task_name.count != 0)%>
                          <button id="other_bottun" type="button" class="btn btn-info other_click" ><i class="glyphicon glyphicon-file"></i> その他のタスク</button>
                          <% end %>
                          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus"></i> 新しいタスクの追加</button>
                        </div>
                      </p>

                      <!-- 一人かグループかの選択 -->
                      <p style="margin: 15px 10px;">
                        <label for="group_frag">人数</label>
                        <div class="btn-group" data-toggle="buttons" style="margin-left: 10px; margin-top:-20px;">
                          <label class="btn btn-default active">
                            <input type="radio" autocomplete="off" name="group_frag" value="0" checked>一人で学習
                          </label>
                          <label class="btn btn-default">
                            <input type="radio" autocomplete="off" name="group_frag" value="1">グループで学習
                          </div>
                        </p>

                        <!-- 音楽ありなしかの選択 -->
                        <p style="margin: 15px 10px;">
                          <label for="group_frag">音楽</label>
                          <div class="btn-group" data-toggle="buttons" style="margin-left: 10px; margin-top:-20px;">
                            <label class="btn btn-default active">
                              <input type="radio" autocomplete="off" name="music_frag" value="0" checked>音楽なし
                            </label>
                            <label class="btn btn-default">
                              <input type="radio" autocomplete="off" name="music_frag" value="1">音楽あり
                            </div>
                          </p>

                          <!-- 作業時間の入力 -->
                          <p style="margin: 15px 10px;" >
                            <label for="start_time">作業した時間</label>
                            <div id="picker" class="form-inline" style="margin-top:-15px; margin-left:10px;">
                              <input id="datepicker" class="form-control" type="text" name="date" style="width:105px; margin-bottom:10px;" />
                              <div id="slider"></div>
                            </div>
                          </p>

                          <!-- コメントの入力 -->
                          <p style="margin: 15px 10px;" >
                            <label for="comment">学習内容や感想など</label>
                            <textarea name="comment" class="form-control" row="2" placeholder="学習内容や感想" style="resize: none;"></textarea>
                            <p class="help-block" style="margin-left: 10px;">※できるだけ他の人もわかるように書きましょう。</p>
                          </p>

                          <p style="margin: 15px 10px;">
                            <% if(task_name.count != 0)%>
                            <button type="submit" class="btn btn-success">記録する</button>
                            <% end %>
                          </p>

                        </div>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>

          <div class="row">
            <!-- タイムライン -->
            <div class="col-sm-6">
              <div class="panel panel-default">
                <table class="table table-bordered scrollTable">
                  <thead>
                    <tr><th class="text-center" style="height:35px;">タイムライン</th></tr>
                  </thead>
                  <tbody>
                    <tr style="height:450px;">
                      <td>

                        <ul id="timeline_ul" class="cbp_tmtimeline">

                          <% task = Task.all.order("task_id desc").limit(50)%>
                          <% task.each do |row| %>
                          <%  image_name = User.find_by(user_id: row.user_id ) %>
                          <%  datetime = DateTime.parse("#{row.timestamp}") %>
                          <%  date =  datetime.strftime("%m/%d")%>
                          <%  time = datetime.strftime("%H:%M")%>

                          <li>
                            <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span><%= date %></span> <span><%= time %></span></time>
                            <div class="cbp_tmicon"><img src="images/<%= "#{image_name.image_name}" %>" alt="ユーザ画像" width="36" height="36" class="img-thumbnail img-responsive center-block"><h6 class="text-center" style="margin-top:0px;"><%= "#{image_name.user_name}".force_encoding("utf-8") %></h6></div>
                            <div class="cbp_tmlabel">
                              <h4 style="font-weight:bold; font-size:1.0em; margin-left:10px;"><%= "#{row.task_name}" %> <%= "#{task_time(row.task_id)}".to_i %>分</h4>
                              <p style="margin:0 0 0 10px;"><%= "#{row.comment}".force_encoding("utf-8") %></p>
                            </div>
                          </li>

                          <% end%>

                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="row">
                <!-- 学習時間ランキング -->
                <div class="col-sm-7">
                  <div class="panel panel-default">
                    <table class="table table-bordered">
                      <thead>
                        <tr><th class="text-center">今日の学習時間ランキング</th></tr>
                      </thead>
                      <tbody>
                        <tr style="height:450px;">
                          <td>

                            <div style="float:left; margin-left:-30px;">
                              <ul style="list-style:none;">

                                <% total_sort = total_time.sort_by{|key,val| -val} %>
                                <% image_number = 1%>
                                <% difference = 0%>
                                <% total_sort.first(3).each {|key, value| %>

                                  <% if(image_number == 1) %>

                                  <% difference = value %>
                                  <li style="font-size:13px; font-weight:bold;"><img src="images/rank<%= "#{image_number}" %>.png" style="width:30px; margin:5px;"><%= "#{key}".force_encoding("utf-8") %> <%= "#{value}".force_encoding("utf-8") %>分</li>

                                  <% else %>

                                  <li style="font-size:13px; font-weight:bold;"><img src="images/rank<%= "#{image_number}" %>.png" style="width:30px; margin:5px;"><%= "#{key}".force_encoding("utf-8") %> <span style="pa-top:10px;"><%= "#{value}".force_encoding("utf-8") %>分 </span><span class="text-danger">(１位まであと<%= difference - value %>分)</span></li>

                                  <% end %>

                                  <%  image_number = image_number + 1 %>
                                  <% } %>

                                </ul>
                              </div>

                              <img src="./images/ranking.png" width="100%">
                              <div style="width:100% height:300px;">
                                <div style="width:70%; height:300px;  position: relative;">

                                  <% top = 0 %>
                                  <% user = User.all %>
                                  <% user.each do |row| %>

                                  <div id='anime<%= "#{row.user_id}" %>' style="margin-left:20px; position: absolute; top:<%= top %>%;">
                                    <img src="images/<%= "#{row.image_name}" %>" alt="ユーザ画像" width="35" height="35" class="center-block" style="margin-top:8pt; margin-left:4px;">
                                    <h6 class="text-center" style="margin-top:-1px;"><%= "#{row.user_name}" %></h6>
                                  </div>

                                  <%  top = top + 11 %>
                                  <% end  %>

                                </div>
                              </div>

                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- footer -->
      <footer class="footer" style="height: 40px; background-color: #f5f5f5;">
        <div class="container" >
          <p class="text-muted" style="padding: 5px;">Copyright (C) 2015 Takuma Sasaki ALL Right Reserved.</p>
        </div>
      </footer>

      <!-- モーダルウィンドウの中身 -->
      <!-- 新しいタスクを追加フォーム -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><i class="glyphicon glyphicon-plus"></i> 新しいタスクを追加</h4>
            </div>

            <div class="modal-body">
              <form method="post" action="add_task.rb">
                <div class="form-group">
                  <label for="task_name">タスク名</label>
                  <input type="text" class="form-control" id="task_name" placeholder="追加するタスク名" name="task_name">
                </div>
                <button type="submit" class="btn btn-success">追加する</button>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
            </div>

          </div>
        </div>
      </div>

      <!-- モーダルウィンドウの中身 -->
      <!-- ユーザ情報の編集 -->
      <div class="modal fade" id="edit_user_info">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><i class="glyphicon glyphicon-plus"></i> ユーザ情報の編集</h4>
            </div>

            <div class="modal-body">
              <form method="post" action="edit_user_info.rb" enctype="multipart/form-data" >
                <div class="form-group">
                  <label for="user_name">ユーザネーム</label>
                  <% user = User.find( user_id ) %>
                  <input type="text" class="form-control" id="user_name" name="user_name" value="<%= "#{user.user_name}" %>" >
                  <label for="image_name" style="margin-top:15px;">ユーザ画像</label>
                  <input type="file" name="image_name">
                </div>
                <button type="submit" class="btn btn-success">更新する</button>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
            </div>

          </div>
        </div>
      </div>

      <!-- javascriptの読み込み -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
      <script src="js/bootstrap/bootstrap.min.js"></script>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/i18n/jquery-ui-i18n.min.js"></script>

      <!-- ライブラリ -->
      <script src="js/Chart/Chart.js"></script>
      <script src="http://momentjs.com/downloads/moment.js"></script>
      <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
      <script src="js/scrolltable/jquery.scrolltable.js"></script>
      <script src="js/jQueryTween/jQueryTween-aio-min.js"></script>
      <script src="js/timepicker/jquery.timepicker.js"></script>
      <script src="js/jQRangeSlider/jQRangeSlider-min.js"></script>
      <script src="js/jQRangeSlider/jQAllRangeSliders-min.js"></script>
      <script src="js/timeline/modernizr.custom.js"></script>

      <!-- 自分で書いたスクリプト -->
      <script src="js/my_library/current_time.js"></script>

      <script>

      $(function (){

        // 現在の日付を取得
        var m = moment();
        var date_first = m.format("YYYY年MM月DD日");
        // 現在の日付を表示するメソッド
        current_time(date_first);

        var date2 = new Date();
        var date4 = new Date();

        // 時間のフォーマット
        function TwoDigits(val){

          if (val < 10){
            return "0" + val;
          }

          return val;
        }

        $('#log_form').submit(function(event) {
          // HTMLでの送信をキャンセル
          event.preventDefault();

          // 操作対象のフォーム要素を取得
          var $form = $(this);

          // 送信ボタンを取得
          // （後で使う: 二重送信を防止する。）
          var $button = $form.find('button');

          var dateValues = $("#slider").dateRangeSlider("values");
          console.log(dateValues.min.toString() + " " + dateValues.max.toString());


          // 送信
          $.ajax({
            url: $form.attr('action'),
            type: $form.attr('method'),
            data: $form.serialize() + "&start_t=" + dateValues.min.toString() + "&finish_t=" + dateValues.max.toString(),
            timeout: 10000,  // 単位はミリ秒

            // 送信前
            beforeSend: function(xhr, settings) {
              // ボタンを無効化し、二重送信を防止
              $button.attr('disabled', true);
            },
            // 応答後
            complete: function(xhr, textStatus) {
              // ボタンを有効化し、再送信を許可
              $button.attr('disabled', false);
            },

            // 通信成功時の処理
            success: function(data) {

              // 入力値を初期化
              $form[0].reset();
              var dt = data.split(",");

              $('#timeline_ul').prepend('<li><div style="display:none"><time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>' + dt[5] + '</span> <span>' + dt[6] + '</span></time><div class="cbp_tmicon"><img src="images/' + dt[0] + '" alt="ユーザ画像" width="36" height="36" class="img-thumbnail img-responsive center-block"><h6 class="text-center" style="margin-top:0px;">' + dt[1] + '</h6></div><div class="cbp_tmlabel"><h4 style="font-weight:bold; font-size:1.0em; margin-left:10px;">' + dt[2] + ' ' + dt[3] + '分</h4><p style="margin:0 0 0 10px;">' + dt[4] + '</p></div></div></li>');
              $('li div').slideDown("slow");
              $("#datepicker").datepicker("setDate", date2.getFullYear() + "-" + (date2.getMonth() + 1) + "-" + date2.getDate());
              $('#slider').dateRangeSlider("destroy");

              // datepickerの値を持ってきて、sliderと紐付ける
              var picker_date3 = $("#datepicker").val();
              var date3 = new Date(picker_date3);
              var now3 = new Date();

              var slider_year3 = date3.getFullYear();
              var slider_month3 = date3.getMonth();
              var slider_day3 = date3.getDate();
              var slider_hour3 = now3.getHours();
              var slider_minutes3 = now3.getMinutes();


              // 時間帯入力のスライダー設定
              $("#slider").dateRangeSlider({
                step: {minutes:10},
                bounds: {min: new Date(slider_year3,slider_month3,slider_day3,0,0), max: new Date(slider_year3,slider_month3,slider_day3, 23, 59, 59)},
                defaultValues: {min: new Date(slider_year3,slider_month3,slider_day3, slider_hour3 - 2, slider_minutes3), max: new Date(slider_year3,slider_month3,slider_day3 ,slider_hour3 , slider_minutes3)},
                formatter: function(value){
                  var hours = value.getHours(),
                  minutes = value.getMinutes();
                  return TwoDigits(hours) + ":" + TwoDigits(minutes);
                }
              });

            },

            // 通信失敗時の処理
            error: function(xhr, textStatus, error) {}
          });
        });

        // 日付の入力
        $.datepicker.setDefaults($.datepicker.regional['ja']);
        // 3日付選択ボックスを生成
        $('#datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
        $("#datepicker").datepicker("setDate", date2.getFullYear() + "-" + (date2.getMonth() + 1) + "-" + date2.getDate());


        // datepickerの値を持ってきて、sliderと紐付ける
        var picker_date1 = $("#datepicker").val();
        var date1 = new Date(picker_date1);
        var now1 = new Date();

        var slider_year = date1.getFullYear();
        var slider_month = date1.getMonth();
        var slider_day = date1.getDate();
        var slider_hour = now1.getHours();
        var slider_minutes = now1.getMinutes();


        // 時間帯入力のスライダー設定
        $("#slider").dateRangeSlider({
          step: {minutes:10},
          bounds: {min: new Date(slider_year,slider_month,slider_day,0,0), max: new Date(slider_year,slider_month,slider_day, 23, 59, 59)},
          defaultValues: {min: new Date(slider_year,slider_month,slider_day, slider_hour - 2 , slider_minutes), max: new Date(slider_year,slider_month,slider_day, slider_hour, slider_minutes)},
          formatter: function(value){
            var hours = value.getHours(),
            minutes = value.getMinutes();
            return TwoDigits(hours) + ":" + TwoDigits(minutes);
          }
        });

        // datepickerの値が変更された時に呼ばれるメソッド
        $('#datepicker').datepicker()
          .on('change.dp', function(e) {

          $('#slider').dateRangeSlider("destroy");

          // datepickerの値を持ってきて、sliderと紐付ける
          var picker_date2 = $("#datepicker").val();
          var date2 = new Date(picker_date2);
          var now2 = new Date();

          var slider_year2 = date2.getFullYear();
          var slider_month2 = date2.getMonth();
          var slider_day2 = date2.getDate();
          var slider_hour2 = now2.getHours();
          var slider_minutes2 = now2.getMinutes();

          // 時間帯入力のスライダー設定
          $("#slider").dateRangeSlider({
            step: {minutes:10},
            bounds: {min: new Date(slider_year2,slider_month2,slider_day2,0,0), max: new Date(slider_year2,slider_month2,slider_day2, 23, 59, 59)},
            defaultValues: {min: new Date(slider_year2,slider_month2, slider_day2, slider_hour2 - 2, slider_minutes2), max: new Date(slider_year2,slider_month2,slider_day2, slider_hour2, slider_minutes2)},
            formatter: function(value){
              var hours = value.getHours(),
              minutes = value.getMinutes();
              return TwoDigits(hours) + ":" + TwoDigits(minutes);
            }
          });

        });

        // テーブルにスクロールバーを付ける処理
        $('.scrollTable').scrolltable({
          maxHeight: 350
        });

        // onclickが何回押されたかを判定するフラグ
        var flg = 'default'

        // その他のタスクボタンのイベントメソッド
        $('.other_click').click(function(){

          if(flg == 'default'){

            $('#other_task').show()
            $('#high_priority').hide()
            $("#other_bottun").text("よく記録するタスク");

            flg = "changed";

          }else{

            $('#other_task').hide()
            $('#high_priority').show()
            $("#other_bottun").text("その他のタスク");

            flg = 'default';

          }
        });


        // ランキングアニメーション
        <% user_rank_percent = user_rank_percent() %>
        <% user = User.all %>
        <% user.each do |row| %>

        $('#anime<%= "#{row.user_id}" %>').jQueryTween({ to: { position: { left: '<%= "#{user_rank_percent["#{row.user_id}"].to_i}" %>%' } }, duration: 1000,easing: TWEEN.Easing.Quadratic.In } );

        <% end %>


      });

      </script>
    </body>
    </html>
